/* Global */
body {
    background-color: black;
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "PingFang SC", "'Hiragino Sans GB", STHeiti,
    "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC",
    "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
}

.iconfont {
    font-size: inherit;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Mask */
#mask-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 256px;
    overflow: hidden;
    mask-image: none;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 4.5em;
    transform: translateY(-128px);
}

#mask {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 256px;
    line-height: 256px;
    text-align: center;
    vertical-align: middle;
}

/* Base */
#content {
    opacity: 0;
}

/* Background */
#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Container */
#container {
    position: absolute;
    height: 480px;
    width: 410px;
    top: 50%;
    left: 50%;
    transform: translate(-205px, -280px);
}

/* Avatar */
.avatar-wrapper {
    height: 148px;
    width: 148px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-style: solid;
    border-radius: 50%;
    mask-image: none;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.avatar {
    height: 148px;
    width: 148px;
    background-image: url(../img/avatar.jpg);
    background-size: cover;
    transition-duration: 0.5s;
}

.avatar:hover {
    transform: scale(1.2);
    filter: blur(5px);
}

/* Title */
.title-wrapper {
    width: 100%;
    margin: 32px 0;
    overflow: hidden;
    font-size: 4em;
}

#title {
    text-align: center;
}

#title span {
    font-weight: 400;
}

.title-wrapper .letter {
    display: inline-block;
    transform-origin: 50% 100%;
    line-height: 1em;
}

/* Links */
.left {
    position: absolute;
    left: 8px;
}

.right {
    position: absolute;
    right: 8px;
}

.button-group {
    height: 72px;
}

.button {
    display: inline-block;
    margin: 8px 4px;
    width: 178px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: black;
    border-style: dashed;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.5s;
    font-size: 1.4em;
}

.button a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.blog:hover {
    color: purple;
}

.github:hover {
    color: gray;
}

.docs:hover {
    color: green;
}

.projects:hover {
    color: orange;
}

.zhihu:hover {
    color: blue;
}

.netease-cloud-music:hover {
    color: red;
}

/* Footer */
footer {
    position: fixed;
    height: 32px;
    width: 100%;
    bottom: 0px;
    text-align: center;
}